﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:700px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:700px;
  color:#FFFFFF;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:121px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:10px;
  width:155px;
  height:121px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:700px;
}
#u720_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:700px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:700px;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:263px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:325px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:388px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:513px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:575px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:638px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#02354E;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:21px;
  width:480px;
  height:100px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#02354E;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:476px;
  word-wrap:break-word;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:293px;
  width:730px;
  height:172px;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  color:#FFFFFF;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:0px;
  width:178px;
  height:36px;
  color:#FFFFFF;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:182px;
  height:36px;
  color:#FFFFFF;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:0px;
  width:120px;
  height:36px;
  color:#FFFFFF;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:0px;
  width:128px;
  height:36px;
  color:#FFFFFF;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:122px;
  height:36px;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:36px;
  width:178px;
  height:36px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:36px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:36px;
  width:182px;
  height:36px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:36px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:36px;
  width:120px;
  height:36px;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:36px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:36px;
  width:128px;
  height:36px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:33px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:122px;
  height:33px;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:118px;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:33px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:72px;
  width:178px;
  height:33px;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:174px;
  word-wrap:break-word;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:33px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:72px;
  width:182px;
  height:33px;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:178px;
  word-wrap:break-word;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:72px;
  width:120px;
  height:33px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:72px;
  width:128px;
  height:33px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:122px;
  height:34px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:34px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:105px;
  width:178px;
  height:34px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:174px;
  word-wrap:break-word;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:34px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:105px;
  width:182px;
  height:34px;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:34px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:105px;
  width:120px;
  height:34px;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:105px;
  width:128px;
  height:34px;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:33px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:139px;
  width:122px;
  height:33px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:118px;
  word-wrap:break-word;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:33px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:139px;
  width:178px;
  height:33px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:174px;
  word-wrap:break-word;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:33px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:139px;
  width:182px;
  height:33px;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:178px;
  word-wrap:break-word;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:33px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:139px;
  width:120px;
  height:33px;
}
#u760_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:116px;
  word-wrap:break-word;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:139px;
  width:128px;
  height:33px;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:44px;
  background:inherit;
  background-color:rgba(2, 53, 78, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:484px;
  width:354px;
  height:44px;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:350px;
  word-wrap:break-word;
}
#u763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:45px;
  background:inherit;
  background-color:rgba(2, 53, 78, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:483px;
  width:340px;
  height:45px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:336px;
  word-wrap:break-word;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:57px;
  background:inherit;
  background-color:rgba(2, 53, 78, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:200px;
  width:727px;
  height:57px;
  color:#FFFFFF;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:723px;
  word-wrap:break-word;
}
