﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:700px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:700px;
  color:#FFFFFF;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:121px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:10px;
  width:155px;
  height:121px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:700px;
}
#u654_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:700px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:700px;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:263px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:325px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:388px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:513px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:575px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:638px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#02354E;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:21px;
  width:480px;
  height:100px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#02354E;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:476px;
  word-wrap:break-word;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:287px;
  width:727px;
  height:227px;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:36px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:36px;
  color:#FFFFFF;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:441px;
  word-wrap:break-word;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:36px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:0px;
  width:282px;
  height:36px;
  color:#FFFFFF;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:278px;
  word-wrap:break-word;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:41px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:445px;
  height:41px;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:441px;
  word-wrap:break-word;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:41px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:36px;
  width:282px;
  height:41px;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:278px;
  word-wrap:break-word;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:30px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:445px;
  height:30px;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:441px;
  word-wrap:break-word;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:30px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:77px;
  width:282px;
  height:30px;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:278px;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:30px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:445px;
  height:30px;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:441px;
  word-wrap:break-word;
}
#u677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:30px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:107px;
  width:282px;
  height:30px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:278px;
  word-wrap:break-word;
}
#u678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:30px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:137px;
  width:445px;
  height:30px;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:441px;
  word-wrap:break-word;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:30px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:137px;
  width:282px;
  height:30px;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:278px;
  word-wrap:break-word;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:30px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:167px;
  width:445px;
  height:30px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:441px;
  word-wrap:break-word;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:30px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:167px;
  width:282px;
  height:30px;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:278px;
  word-wrap:break-word;
}
#u682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:30px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:197px;
  width:445px;
  height:30px;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:441px;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:30px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:197px;
  width:282px;
  height:30px;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:278px;
  word-wrap:break-word;
}
#u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:44px;
  background:inherit;
  background-color:rgba(2, 53, 78, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:524px;
  width:368px;
  height:44px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:364px;
  word-wrap:break-word;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:44px;
  background:inherit;
  background-color:rgba(2, 53, 78, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:524px;
  width:333px;
  height:44px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:329px;
  word-wrap:break-word;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:57px;
  background:inherit;
  background-color:rgba(2, 53, 78, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:200px;
  width:727px;
  height:57px;
  color:#FFFFFF;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:723px;
  word-wrap:break-word;
}
