﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:700px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:700px;
  color:#FFFFFF;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:121px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:10px;
  width:155px;
  height:121px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:700px;
}
#u66_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:700px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:700px;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:263px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:325px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:388px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:513px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:575px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:63px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:638px;
  width:250px;
  height:63px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#02354E;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:246px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:200px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#02354E;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:21px;
  width:480px;
  height:100px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#02354E;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:476px;
  word-wrap:break-word;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:199px;
  width:727px;
  height:225px;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
  color:#FFFFFF;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:157px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:0px;
  width:101px;
  height:36px;
  color:#FFFFFF;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:36px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:0px;
  width:114px;
  height:36px;
  color:#FFFFFF;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:0px;
  width:94px;
  height:36px;
  color:#FFFFFF;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:0px;
  width:100px;
  height:36px;
  color:#FFFFFF;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:0px;
  width:78px;
  height:36px;
  color:#FFFFFF;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:74px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:0px;
  width:79px;
  height:36px;
  color:#FFFFFF;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:75px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:161px;
  height:36px;
  text-align:left;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:157px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:36px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:36px;
  width:101px;
  height:36px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:36px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:36px;
  width:114px;
  height:36px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:36px;
  width:94px;
  height:36px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:36px;
  width:100px;
  height:36px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:36px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:36px;
  width:78px;
  height:36px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:36px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:36px;
  width:79px;
  height:36px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:33px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:161px;
  height:33px;
  text-align:left;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:157px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:72px;
  width:101px;
  height:33px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:72px;
  width:114px;
  height:33px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:110px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:72px;
  width:94px;
  height:33px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:72px;
  width:100px;
  height:33px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:72px;
  width:78px;
  height:33px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:74px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:72px;
  width:79px;
  height:33px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:75px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:33px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:161px;
  height:33px;
  text-align:left;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:157px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:105px;
  width:101px;
  height:33px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:105px;
  width:114px;
  height:33px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:110px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:105px;
  width:94px;
  height:33px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:105px;
  width:100px;
  height:33px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:105px;
  width:78px;
  height:33px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:74px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:105px;
  width:79px;
  height:33px;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:75px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:33px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:138px;
  width:161px;
  height:33px;
  text-align:left;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:157px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:33px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:138px;
  width:101px;
  height:33px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:97px;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:33px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:138px;
  width:114px;
  height:33px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:110px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:138px;
  width:94px;
  height:33px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:138px;
  width:100px;
  height:33px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:138px;
  width:78px;
  height:33px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:74px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:138px;
  width:79px;
  height:33px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:75px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:54px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:161px;
  height:54px;
  text-align:left;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:54px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:171px;
  width:101px;
  height:54px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:54px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:171px;
  width:114px;
  height:54px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:54px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:171px;
  width:94px;
  height:54px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:171px;
  width:100px;
  height:54px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:54px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:171px;
  width:78px;
  height:54px;
  color:#FFFFFF;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:74px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:54px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:171px;
  width:79px;
  height:54px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:75px;
  word-wrap:break-word;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:420px;
  width:77px;
  height:51px;
}
#u123_input {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:51px;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
  background:inherit;
  background-color:rgba(2, 53, 78, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:421px;
  width:182px;
  height:50px;
  color:#FFFFFF;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:45px;
  background:inherit;
  background-color:rgba(2, 53, 78, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:522px;
  width:77px;
  height:45px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:73px;
  word-wrap:break-word;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:471px;
  width:259px;
  height:47px;
  font-family:'Arial Italic', 'Arial';
  font-weight:400;
  font-style:italic;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:255px;
  word-wrap:break-word;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 53, 78, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:595px;
  width:113px;
  height:40px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
